.tb{
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(197, 207, 207, 0.966);
}
.btn{
   padding: 10px;
   border-radius: 10px;
   margin: 0 20px 0 20px;
   border: 1px solid rgb(175, 19, 19);
}
.btn:hover{  
   cursor: pointer;
   box-shadow: 2px 5px 6px  gray;
}
